/* custom css - everything else that wasnt styled with components */

.container.hero {
    padding-bottom: var(--section-padding);
    background-image: url(../img/banner.png);
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed; /* backgroundas prisilipina ir nesiscrolina kartu  */
    min-height: 100vh; /* nustato, kad backgroundas butu per visa ekrana scrolinant , jei nebutu min, child elementai liptu aukstynant tevinio*/
}

footer.container {
    padding-top: 0;
    padding-bottom: calc(var(--section-padding) * 1.5);
}
    footer.container > .row-short {
        margin-top: var(--section-padding);
    }

.bg-main-color { 
    background-color: var(--main-color);
}

/* hero */
.hero {
    text-align: center;
}
.hero img {
    margin-bottom: calc(var(--hero-space) * 2);
    
}
.hero h1 {
    display: inline-block;
    width: 100%;
    margin-bottom: calc(var(--hero-space));
    text-transform: uppercase;
    font-size: 50px;
    color: #000;
}
.hero p {
    /* ! nustatyt inline block ir width 100% kad h1 ir p nesugultu kartu i viena eilute(row) */
    display: inline-block;
    width: 100%;
    margin-bottom: calc(var(--hero-space) * 3);
    font-size: 18px;
    color: #555;   
}
.hero .clock {
    margin-bottom: calc(var(--hero-space) * 2);
}
.hero .form {
    width: 90%;
    margin-bottom: var(--hero-space);
}
    .hero .form > input {
        width: 100%;
        color: #fff;
        border-bottom-color: #fff;
        background-color: transparent;
    }
        .hero .form > input::placeholder {
            color: #fff;
        }
    .hero .form .btn {
        float: none;
    }
/* main content */
main h2 {
    display: inline-block;
    width: 100%;
    margin-bottom: var(--main-space);
    color: #000;
    font-size: 21px;
    text-transform: uppercase;
}
main p {
    display: inline-block;
    width: 100%;
    margin-bottom: var(--main-space);
    font-size: 18px;
    line-height: 26px;
    color: var(--grey-color);
}
main p > a {
    color: var(--secondary-color);
    text-decoration: none;
}
main .form .btn {
    float: right;
}
/* footer */
footer {
    text-align: center;
    line-height: 32px;
    font-size: 17px;
    color: #fff8;
}
    footer img {
        margin-bottom: 15px;
        width: 120px;
    }
    /*! NEVEIKIA */
    footer.container > .row {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 10px 20px;
        border-bottom: 1px solid #fff;
        flex-wrap: wrap;
    }
    footer .fa {
        color: #fff;
        display: inline-block;
        padding: 10px; /* 10* 2 + 20px lineheight height padaro 40px */
        line-height: 20px;
        width: 40px;
        text-align: center;
        border-radius: 50%;
        transition: all 0.5s;
    
    }
    footer .fa:hover {
        background-color: #fff;
        color: var(--main-color);
    }
    footer .text-trio {
        display: inline-block;
        width: 100%;
    }
        footer .text-trio > .text {
            display: inline-block;
            padding: 0 10px;
            position: relative;
        } 
            footer .text-trio > .text::before {
                display: inline-block;
                content: ''; /* butinas content empty '' */
                width: 1px;
                height: 14px;
                background-color: #fff;
                position: absolute;
                top: 50%;
                left: -2px;
                transform: translateY(-50%);
            }
            footer .text-trio > .text:first-of-type::before {
                display: none;
            }
footer p {
    display: inline-block;
    width: 100%;
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color: #81DDFD; 
}

@media (max-width: 700px) {
    footer .text-trio > .text {
        width: 100%;
        padding: 0;
    }
    footer .text-trio > .text::before {
        display: none;
    }
}